{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<div style="position: fixed; height: 400px; top: 40%; width: 100%; background: #ccc;">
<info-pane-wrapper {id}="id">
</info-pane-wrapper>
</div>
